extends _layout.pug
block content	
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-12
			.row
				#contactL
					.landing
						h2 <b>CONTACT</b>
						//.landI
							img(src='images/phone.png')
			.row
				.conwrapper.col-xs-12
					#conMap.col-sm-6
						//a(href='https://maps.google.com/maps/dir//The+New+You,+9416+271st+St+NW+c,+Stanwood,+WA+98292/@48.2416938,-122.3606977,18z/data=!4m15!1m6!3m5!1s0x54855c6b01cafa93:0x4667ba4308274847!2sThe+New+You!8m2!3d48.2417028!4d-122.3608769!4m7!1m0!1m5!1m1!1s0x54855c6b01cafa93:0x4667ba4308274847!2m2!1d-122.3608769!2d48.2417028')
						a(href='https://www.google.com/maps/search/?api=1&query=The+New+You,+9416+271st+St+NW+Stanwood,+WA+98292')
							img(src='https://maps.googleapis.com/maps/api/staticmap?center=48.2416792,-122.3608434&zoom=17&maptype=maptype&size=400x400&key=AIzaSyBPwwu4tHjj4XhDwRzVQRXwxFHjhJPhXac')
							//img(src='https://www.google.com/maps/dir/?api=1&query=The+New+You,+9416+271st+St+NW+c,+Stanwood,+WA+98292')
					.divider
					.info-wrapper.col-md-6
						#contact
							h3.hidden-sm.hidden-xs <b>Number: (206)817-4416</b>
							h3.hidden-lg.hidden-md <b>Number:</b> 
								a(href='tel:(206)817-4416') (206)817-4416
							h3 <b>Call Hours:</b> All week 7 A.M. - 6 P.M.
							h3 <b>Email: </b>
								a(href='mailto:thenewyouon532@gmail.com') thenewyouon532@gmail.com


