extends _layout.pug
block content	
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-12
			.row
				#contactL
					.landing
						h2 <b>CONTACT</b>
						//.landI
							img(src='images/phone.png')
			.row
				.con-wrapper.col-xs-12
					#conMap.col-sm-6
						img(src='https://maps.googleapis.com/maps/api/staticmap?center=0,0&zoom=1&size=400x400&key=AIzaSyBPwwu4tHjj4XhDwRzVQRXwxFHjhJPhXac')
					.divider
					.info-wrapper.col-md-6
						#contact
							p Consectetur commodo amet magna irure sint nisi voluptate exercitation excepteur ullamco nisi officia non adipisicing commodo et ullamco irure adipisicing nostrud est tempor ut ut exercitation dolor consequat veniam sit eiusmod amet sunt pariatur ea est nostrud. Lorem ipsum quis duis duis quis nulla culpa ad consequat officia deserunt culpa mollit sint deserunt nisi adipisicing.
