extends _layout.pug
block content	
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-12
			.row
				#contactL
					.landing
						h2 <b>CONTACT</b>
						//.landI
							img(src='images/phone.png')
			.row
				.con-wrapper
					#conMap
						img(src='https://maps.googleapis.com/maps/api/staticmap?center=0,0&zoom=1&size=400x400&key=AIzaSyBPwwu4tHjj4XhDwRzVQRXwxFHjhJPhXac')
					.divider
					.info-wrapper
						#contact
							p Minim in est aliqua excepteur dolor duis enim dolor culpa ea exercitation ut nisi ex eu occaecat dolor dolor labore sunt commodo ad reprehenderit non aliquip dolor.
