extends _layout.pug
block content	
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-12
			.row
				#contactL
					.landing
						h2 <b>CONTACT</b>
						//.landI
							img(src='images/phone.png')
			.row
				#conMap