extends _layout.pug
block content
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-10.col-md-push-1.col-xs-10.col-xs-push-1
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			//~~~~~~~~~~~~~~CAROUSEL~~~~~~~~~~~~~
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			.row
				#carouselContainer
					.col-md-10.col-md-push-1
						.row
					#mainCarousel.carousel.slide(data-ride='carousel')
						//CAROUSEL BUTTONS
						ol.carousel-indicators
							li.active(data-target='#mainCarousel', data-slide-to='0')
							li(data-target='#mainCarousel', data-slide-to='1')
							li(data-target='#mainCarousel', data-slide-to='2')
						.carousel-inner
							.item.active
								img(src='images/weightloss1.jpg', alt='First slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button
											h3 First Slide
											h2 "Lorem ipsum Duis laboris dolore esse ex et magna nisi nisi culpa mollit velit officia velit magna."
							.item
								img(src='images/weightloss2.jpg', alt='Second slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button 
											h3 Second slide
											h2 "Lorem ipsum Et pariatur elit elit esse sint dolore commodo consectetur ut non cupidatat."
							.item
								img(src='images/weightloss3.jpg', alt='Third slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button
											h3 Third slide
											h2 "Lorem ipsum Ad exercitation minim enim voluptate veniam pariatur ut cupidatat laborum sint Ut consequat sunt aliquip sit labore."
						a.left.carousel-control(href='#mainCarousel', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href='#mainCarousel', data-slide='next')
							span.glyphicon.glyphicon-chevron-right
			.row
				#dietInfo.col-xs-12
					#cell1.col-md-4
						h2 What is Ideal Protien?
						h4 Ut magna mollit ut non non dolore ut nisi sint est laborum pariatur esse fugiat aliqua occaecat ut anim non elit duis in fugiat occaecat nostrud sint consequat non ea ea cillum ut amet aliquip adipisicing dolore adipisicing.
					#cell2.col-md-4
						h2 
						h4 Aliqua ex sunt officia laborum aute esse exercitation mollit elit consectetur ut anim laboris eu reprehenderit sit laborum consectetur dolor non esse ex laborum dolor laboris sint esse veniam velit exercitation non in aute laborum consectetur adipisicing est.tempor.
					#cell3.col-md-4
						h2 What is Ideal Protien?
						h4 Esse fugiat labore sit ex in cillum nostrud voluptate incididunt enim cillum qui nisi pariatur ut sit nisi proident deserunt qui consectetur aliqua non quis duis dolor velit est mollit adipisicing proident.
	//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//-~JQUERY/BOOTSTRAP/JAVASCRIPT INIT/GOODLE MAPS API~~
	//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArjJG-OMCm9egSScqgDBBICffwsco67d4&callback=initMap")
	script(src='js/jquery-3.2.0.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/scripts.js')