extends _layout.pug
block content
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-12.col-xs-12
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			//~~~~~~~~~~~~~~CAROUSEL~~~~~~~~~~~~~
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			.row
				#carouselContainer.wrapperShadow
					#mainCarousel.carousel.slide(data-ride='carousel')
						//CAROUSEL BUTTONS
						ol.carousel-indicators
							li.active(data-target='#mainCarousel', data-slide-to='0')
							li(data-target='#mainCarousel', data-slide-to='1')
							li(data-target='#mainCarousel', data-slide-to='2')
						.carousel-inner
							.item.active
								img.noselect(src='images/weightloss1.jpg', alt='First slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button
											h3 First Slide
											h2 "Lorem ipsum Duis laboris dolore esse ex et magna nisi nisi culpa mollit velit officia velit magna."
							.item
								img.noselect(src='images/weightloss2.jpg', alt='Second slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button 
											h3 Second slide
											h2 "Lorem ipsum Et pariatur elit elit esse sint dolore commodo consectetur ut non cupidatat."
							.item
								img.noselect(src='images/weightloss3.jpg', alt='Third slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button
											h3 Third slide
											h2 "Lorem ipsum Ad exercitation minim enim voluptate veniam pariatur ut cupidatat laborum sint Ut consequat sunt aliquip sit labore."
						a.left.carousel-control(href='#mainCarousel', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href='#mainCarousel', data-slide='next')
							span.glyphicon.glyphicon-chevron-right
			.row
				#dietInfo.col-xs-12.wrapperShadow
					.cell.col-md-4
						h2 <b>What is Ideal Protein?</b>
						img.hidden-sm.hidden-xs(src='images/logo-ideal-protein.png')
						h4 Have you ever wanted to lose a few pounds, have more energy and look great? Are you tired of fad diets that never keep the weight off? Find out how this amazing diet works!
						button.cButton
					.cell.col-md-4
						h2 <b>Your first visit?</b>
						h4 Find out what it takes to start and maintain the diet and shave off body fat 
						button.cButton
					.cell.col-md-4
						h2 <b>Change your life today!</b>
						h4 Stephanie has been an advocate of Ideal Protein after she herself went through the Ideal Weight Loss Method
						button.cButton