extends _layout.pug
block content
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-12.col-xs-12
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			//~~~~~~~~~~~~~~CAROUSEL~~~~~~~~~~~~~
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			.row
				#carouselContainer.wrapperShadow
					#mainCarousel.carousel.slide(data-ride='carousel')
						//CAROUSEL BUTTONS
						ol.carousel-indicators
							li.active(data-target='#mainCarousel', data-slide-to='0')
							li(data-target='#mainCarousel', data-slide-to='1')
							li(data-target='#mainCarousel', data-slide-to='2')
						.carousel-inner
							.item.active
								img.noselect(src='images/weightloss1.jpg', alt='First slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button
											h3 First Slide
											h2 "Lorem ipsum Duis laboris dolore esse ex et magna nisi nisi culpa mollit velit officia velit magna."
							.item
								img.noselect(src='images/weightloss2.jpg', alt='Second slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button 
											h3 Second slide
											h2 "Lorem ipsum Et pariatur elit elit esse sint dolore commodo consectetur ut non cupidatat."
							.item
								img.noselect(src='images/weightloss3.jpg', alt='Third slide')
								.carousel-caption
									.carouselbutton.hidden-sm.hidden-xs
										button
											h3 Third slide
											h2 "Lorem ipsum Ad exercitation minim enim voluptate veniam pariatur ut cupidatat laborum sint Ut consequat sunt aliquip sit labore."
						a.left.carousel-control(href='#mainCarousel', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href='#mainCarousel', data-slide='next')
							span.glyphicon.glyphicon-chevron-right
			.row
				#dietInfo.col-xs-12.wrapperShadow
					.cell.col-md-4
						h2 
							b What is Ideal Protein?
						img.hidden-sm.hidden-xs(src='images/logo-ideal-protein.png')
						h4 Ideal Protein is a <b>low carb, low sugar, protein diet</b> that is <i>supervised</i> by an independant doctor, designed to achive and maintain a state called <i>Ketosis</i>. Ketosis is the bodys way of <b>burning fat instead of carbohydrates</b>, the bodies main fuel source, while <u><b>retaining muscle mass</b></u>.
						button.cButton.hidden-lg.hidden-md More Info
					.cell.col-md-4
						h2 
							b Your first visit?
						h4 Find out what it takes to start and maintain the diet and shave off body fat 
						button.cButton.hidden-lg.hidden-md More Info
					.cell.col-md-4
						h2 
							b Change your life today!
						h4 Stephaine started her career as a dieter herself after losing <b>36 pounds in 3 months</b>. She has helped <i>hundreds</i> of dieters <u>achive and maintain</u> significant weight loss and <u><b>removes</b></u> the need for <b>high blood pressure</b> and <b>high cholestrol</b> medication.
						button.cButton.hidden-lg.hidden-md More Info
			.row.hidden-sm.hidden-xs
				.bCell.col-md-4
						button.bCellBtn
							p More Info
				.bCell.col-md-4
						button.bCellBtn
							p More Info
				.bCell.col-md-4
						button.bCellBtn
							p More Info
