doctype html
html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(charset="utf-8")
		link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto', rel='stylesheet')
		link(href='stylesheets/styles.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
	body
		.container-fluid
			.row
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				//~~~~~~~~~~~HEAD OF BODY~~~~~~~~~~~~
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				#header.col-md-10.col-md-push-1.col-sm-12
					#logo.col-md-2.col-sm-3
						img(src='images/logo.png')
					#menubar.col-lg-4.col-lg-push-6.col-md-5.col-md-push-5.col-sm-4.col-sm-push-6.col-xs-4
						.menubutton
							button ADVOCATES
						.menubutton
							button SCHEDULE
						.menubutton
							button INFO
					#banner
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
				//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				#content.col-md-10.col-md-push-1.col-xs-12
					#carouselContainer.container-fluid
						.row
							.col-md-12
									#carousel-example-generic.carousel.slide(data-ride='carousel')
										ol.carousel-indicators
											li.active(data-target='#carousel-example-generic', data-slide-to='0')
											li(data-target='#carousel-example-generic', data-slide-to='1')
											li(data-target='#carousel-example-generic', data-slide-to='2')
										.carousel-inner
											.item.active
												img(src='images/weightloss1.jpg', alt='First slide')
												.carousel-caption
													h3.col-md-push-3 First Slide
													p.col-md-8.col-md-push-5 "Lorem ipsum Ut minim in dolor consequat ut dolor mollit tempor laboris dolore consequat fugiat tempor irure sint esse in occaecat anim in eiusmod exercitation dolor deserunt irure magna voluptate nostrud laboris proident et ex."
											.item
												img(src='images/weightloss2.jpg', alt='Second slide')
												.carousel-caption
													h3.col-md-push-3 Second slide
													p.col-md-8.col-md-push-5 "Lorem ipsum Incididunt amet velit reprehenderit velit occaecat tempor reprehenderit dolore magna est nostrud dolor do amet est ea amet laboris anim in ullamco esse cillum tempor proident sint proident incididunt pariatur non in amet cupidatat labore."
											.item
												img(src='images/weightloss3.jpg', alt='Third slide')
												.carousel-caption
													h3.col-md-push-3 Third slide
													p.col-md-8.col-md-push-5 "Lorem ipsum Nisi et velit anim incididunt nostrud tempor sint consectetur consectetur cillum et do pariatur sint enim pariatur mollit in Ut nisi Excepteur sunt irure et dolore nostrud aliqua veniam reprehenderit labore sed fugiat sunt aute in non."
										a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
											span.glyphicon.glyphicon-chevron-left
										a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
											span.glyphicon.glyphicon-chevron-right
										.main-text.hidden-sm
										//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										//~~~~~~~~~~~FOOT OF BODY~~~~~~~~~~~~
										//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										#footer
										//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
										//~JQUERY/BOOTSTRAP/JAVASCRIPT INIT~
										//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		script(src='scripts/jquery-3.2.0.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='scripts/scripts.js')