doctype html
html
	head
		html(lang='en')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(charset="utf-8")
		link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto', rel='stylesheet')
		link(href='css/styles.css', rel='stylesheet')
		link(href='css/bootstrap.min.css' rel='stylesheet')
	body
		.container-fluid
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			//~~~~~~~~~~~HEAD OF BODY~~~~~~~~~~~~
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			.row
				#header.col-md-12.col-sm-12
					//-#banner.col-md-4.col-xs-4
					#logo.col-md-2.col-md-push-2.col-sm-3
						a(href='index.html')
							img(src='images/logo.png' )
					#menudeskbar.col-lg-5.col-lg-push-2.col-md-6.col-md-push-2.col-sm-5.col-sm-push-3.col-xs-6.col-xs-push-2.hidden-sm.hidden-xs
						.menubutton
							button HOME
						.menubutton
							button ADVOCATES
						.menubutton
							button CONTACT
						.menubutton
							button INFO
						.menubutton
							button SCHEDULE
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			.row
				#content.col-md-12.col-xs-12
					//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					//~~~~~~~~~~~~~~CAROUSEL~~~~~~~~~~~~~
					//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					.container-fluid
						.row
							#carouselContainer
								#carouselBG
									.col-md-12
										.row
									#maincarousel.carousel.slide(data-ride='carousel')
										//CAROUSEL BUTTONS
										ol.carousel-indicators
											li.active(data-target='#maincarousel', data-slide-to='0')
											li(data-target='#maincarousel', data-slide-to='1')
											li(data-target='#maincarousel', data-slide-to='2')
										.carousel-inner
											.item.active
												img(src='images/weightloss1.jpg', alt='First slide')
												.carousel-caption
													.col-lg-push-4.col-md-9.col-md-push-3
													.carouselbutton.hidden-sm.hidden-xs
														button
															h3 First Slide
															h2 "Lorem ipsum Duis laboris dolore esse ex et magna nisi nisi culpa mollit velit officia velit magna."
											.item
												img(src='images/weightloss2.jpg', alt='Second slide')
												.carousel-caption
													.col-lg-push-4.col-md-9.col-md-push-3
													.carouselbutton.hidden-sm.hidden-xs
														button 
															h3 Second slide
															h2 "Lorem ipsum Et pariatur elit elit esse sint dolore commodo consectetur ut non cupidatat."
											.item
												img(src='images/weightloss3.jpg', alt='Third slide')
												.carousel-caption
													.col-lg-push-4.col-md-9.col-md-push-3
													.carouselbutton.hidden-sm.hidden-xs
														button
															h3 Third slide
															h2 "Lorem ipsum Ad exercitation minim enim voluptate veniam pariatur ut cupidatat laborum sint Ut consequat sunt aliquip sit labore."
										a.left.carousel-control(href='#maincarousel', data-slide='prev')
											span.glyphicon.glyphicon-chevron-left
										a.right.carousel-control(href='#maincarousel', data-slide='next')
											span.glyphicon.glyphicon-chevron-right
				//-#map.col-md-4
				#ownerPic.col-xs-4
				#ownerInfo.col-xs-8
					h1 About the owner
			.row
				#parallax.col-md-12
					.paraText
						h1 See results in less than a week!
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			//~~~~~~~~~~~FOOT OF BODY~~~~~~~~~~~~
			//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			.row 
				#footer.col-xs-12
					#information
						ul.col-xs-12
							li ABOUT
							li RESOURCES
							li SOCIAL
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		//~JQUERY/BOOTSTRAP/JAVASCRIPT INIT/GOODLE MAPS API~~
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArjJG-OMCm9egSScqgDBBICffwsco67d4&callback=initMap")
		script(src='js/jquery-3.2.0.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/scripts.js')