doctype html
html
	head
		meta(charset="utf-8")
		link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto', rel='stylesheet')
		link(href='stylesheets/styles.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
	body
		.container
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		//~~~~~~~~~~~HEAD OF BODY~~~~~~~~~~~~
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		#header.col-xs-10.col-xs-push-1
			#logo.col-xs-2.col-xs-push-1
				img(src='images/logo.png')
			#menubar.col-md-4.col-sm-5.col-xs-4.col-sm-push-6.col-xs-push-6
				.menubutton
					button ADVOCATES
				.menubutton
					button SCHEDULE
				.menubutton
					button INFO
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		#content.col-xs-10.col-xs-push-1
			#imageSlide
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		//~~~~~~~~~~~FOOT OF BODY~~~~~~~~~~~~
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		#footer
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		//~JQUERY/BOOTSTRAP/JAVASCRIPT INIT~
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		script(src='scripts/jquery-3.2.0.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='scripts/scripts.js')