extends _layout.pug
block content
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-12
			.row
				.landing
					h2 <b> SCHEDULE </b>
			.row
				script(type='text/javascript' src='https://bookeo.com/widget.js?a=415529YJUJ614FD31ED2B2')