extends _layout.pug
block content
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//~~~~~~~~~~CONTENT OF BODY~~~~~~~~~~
	//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.row
		#content.col-md-10.col-md-push-1.col-xs-10.col-xs-push-1