$font-stack: 'Raleway'


*
	font-family: $font-stack
	position: relative
	margin: 0
	padding: 0

//HEADER BEGINS HERE
#header
	padding: 0px
	z-index: 99
	overflow: hidden
	height: 5em
#menubar
	z-index: 99
	display: block
 
.menubutton button
	font-size: 12
	float: left
	background-color: white
	border: none
	height: 5em
	width: 33.3%
	text-decoration: none
	transition: .5s
	&:hover
		background-color: #656565
		box-shadow: 0px 2px 9px 10px
		color:  #9DDD52
	&:active
		background-color: black 
		box-shadow: 0px 2px 9px 0px black
		color: white
		transition: 0s
	&:focus
		outline: 0
#banner
	background: linear-gradient(to right,#8bc34a,#8bc34a,white, white)
	z-index: 1
	height: 5em
#logo
	z-index: 98
	margin: 8px
#logo img
//CONTENT BEGINS HERE
#content
	padding: 0
	background: #8bc34a
	z-index: 1
	height: 28em
#carouselContainer.container-fluid
	padding: 0

#carousel
	padding: 0
	margin: 0
.item img
	width: 31.7em
	height: auto

.carouselbutton button
	box-shadow: 5px 5px 8px 1px black
	border: none
	text-decoration: none
	border-radius: 40px
	margin-bottom: 100px
	height: 10em
	background-color: #e040fb
	transition: 0.5s
	&:hover
		box-shadow: 0px 0px 9px 0px black
		background-color: #E966FF
	&:active
		transition: 0s
		box-shadow: 0px 0px 9px 0px black inset
		background-color: #A700C3 
		color: black
.carousel-caption h3
	text-shadow: 2px 2px 8px black
	padding-bottom: 0em
.carousel-caption p
	text-shadow: 2px 2px 8px black
	padding-bottom: 8em

//FOOTER BEGINS HERE
#footer